/**
 * @file
 * Stylesheet for the report pages of the Mail Statistics module.
 */

.mail-statistics-report-form label,
.mail-statistics-report-form .form-item,
.mail-statistics-report-form .form-radios {
  display: inline;
}

.mail-statistics-report-form .form-select {
  margin-left: 5px;
  margin-right: 25px;
}

.mail-statistics-report-form .form-radio {
  margin-left: 5px;
}

.mail-statistics-report-form .form-item-time-grouping {
  margin-left: 25px;
  margin-right: 5px;
}
